In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/wikispeedia_paths-and-graph/links.tsv', sep='\t')
df.head()

                             Source          Target
0  %C3%81ed%C3%A1n_mac_Gabr%C3%A1in            Bede
1  %C3%81ed%C3%A1n_mac_Gabr%C3%A1in         Columba
2  %C3%81ed%C3%A1n_mac_Gabr%C3%A1in  D%C3%A1l_Riata
3  %C3%81ed%C3%A1n_mac_Gabr%C3%A1in   Great_Britain
4  %C3%81ed%C3%A1n_mac_Gabr%C3%A1in         Ireland

In [4]:
from urllib.parse import unquote

In [5]:
url = '%C3%81ed%C3%A1n_mac_Gabr%C3%A1in'

In [10]:
df.Source = df.Source.apply(unquote)

In [11]:
df.Target = df.Target.apply(unquote)

In [12]:
df

                   Source          Target
0       Áedán_mac_Gabráin            Bede
1       Áedán_mac_Gabráin         Columba
2       Áedán_mac_Gabráin       Dál_Riata
3       Áedán_mac_Gabráin   Great_Britain
4       Áedán_mac_Gabráin         Ireland
...                   ...             ...
119877               Zulu    South_Africa
119878               Zulu       Swaziland
119879               Zulu  United_Kingdom
119880               Zulu          Zambia
119881               Zulu        Zimbabwe

[119882 rows x 2 columns]

In [14]:
df.to_csv('../data/clean.csv', sep=',', index=False)

In [15]:
test = pd.DataFrame({'Source': ['A', 'B'], 'Target': ['B', 'C']})
test.head()

  Source Target
0      A      B
1      B      C

In [16]:
test.to_csv('../data/test.csv', index=False)